.carousel__wrapper {
    min-width: 500px;
    height: 500px;
    position: relative;
}

.carousel,
.slide {
    width: 100%;
    height: 100%;



    .carousel-indicators {
        button {
            background-color: $color__main;
            height: 6px;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

}

.selection__area {
    position: absolute;
    opacity: 0;
    background-color: green;
    transition: opacity .5s;
}

.carousel__wrapper:hover {
    .selection__area {
        opacity: 0.5;
    }
}

@mixin house__position($w, $h, $l, $t ) {
    width: $w;
    height: $h;
    left: $l;
    top: $t;
}


.house1 {
    @include house__position(132px, 120px, 223px, 380px)
}

.house2 {
    @include house__position(155px, 190px, 67px, 330px)
}

.house3 {
    @include house__position(155px, 110px, 67px, 220px)
}

.house4 {
    @include house__position(155px, 110px, 67px, 110px)
}

.house5 {
    @include house__position(240px, 130px, 67px, 20px)
}

.house6 {
    @include house__position(130px, 260px, 307px, 20px)
}






.d-block {
    max-height: 500px;

}

// .d__block__opacity {
//     transition: opacity .5s;
// }

// .carousel__wrapper:hover {
//     .d__block__opacity {
//         opacity: 0.3;
//         -moz-opacity: 0.3;
//         filter: alpha(opacity=30) black;
//         -khtml-opacity: 0.3;

//     }

// }





@include desktop {
    .carousel__wrapper {
        width: 100%;

    }
}


@include tablet {
    .carousel__wrapper {
        // width: 360px;
        width: 100%;
        height: 360px;
    }

    .d-block {
        max-height: 360px;
    }
}

@include mobile {
    .carousel__wrapper {
        width: 240px;
        height: 240px;
    }

    .d-block {
        max-height: 240px;
    }
}