.form__filters {
    display: flex;
    flex-direction: column;

    input {
        padding: 1px 7px;

    }

    button {
        margin: 20px 0;
    }
}

.main__filters,
.secondary__filters {
    display: flex;
    flex-direction: column;
}

.filters__from__to {
    
    display: flex;
    justify-content: space-between;

    input {
        width: 45%;
    }
}

.found__objects {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.send__button__filters {
    border: 1px solid black;
    border-radius: 5px;
    background-color: $color__main;
    color: white;
}